
.cccont {
    display: inline-block;
    padding: 40px 15px 0;

}

.carddesc {
    width: 250px;
    height: 143px;
    color: #2b2b2d;
    font-family: "Montserrat", sans-serif;

}
.flexing{
    text-align: center;
}
